<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578489430705-fl7asnlnsmta8772rvaqmpdg8uvq2u4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578489430705-fl7asnlnsmta8772rvaqmpdg8uvq2u4q</string>
	<key>API_KEY</key>
	<string>AIzaSyACfvTTZehP0QncNXsl3Lq-u93wJJKA9Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>578489430705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynew-naveed-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>mynew-naveed-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578489430705:ios:b102d43b51eb46928e2890</string>
</dict>
</plist>